body 
{
	background-image: url(../Images/background.png);
	background-repeat: repeat-x;	
	color:White;
}
    
.Button
{
    border-style: dashed;
    font-weight: bolder;
    width: 64px;
}

.ButtonDisabled
{
    border-style: dashed;
    font-weight: bolder;
    width: 64px;
    filter:alpha(opacity=50);
	opacity:0.5;
	cursor:default;
}

.Board
{
    width: 600px;
    height: 600px;
    border: solid 0px white;
}

a
{
    color: White;
    text-decoration: none;
}

.Grid
{
    left: 0;
    margin: 0;
    width: 100%;    
}    